<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="team20_bp2015.Resources.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="team20_bp2015.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="team20_bp2015.Resources.StandardSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <team20_bp2015.Resources.Settings1>
            <setting name="relativeSpaceToLeftEdge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="relativeSpaceToRightEdge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="relativeSpaceToUpperEdge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="relativeSpaceToLowerEdge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="widthTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="widthSurface" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightSurface" serializeAs="String">
                <value>0</value>
            </setting>
        </team20_bp2015.Resources.Settings1>
    </applicationSettings>
    <userSettings>
        <team20_bp2015.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="cspOriginX" serializeAs="String">
                <value />
            </setting>
            <setting name="cspOriginY" serializeAs="String">
                <value />
            </setting>
            <setting name="cspOriginZ" serializeAs="String">
                <value />
            </setting>
            <setting name="cspCornerUpX" serializeAs="String">
                <value />
            </setting>
            <setting name="cspCornerUpY" serializeAs="String">
                <value />
            </setting>
            <setting name="cspCornerUpZ" serializeAs="String">
                <value />
            </setting>
        </team20_bp2015.Properties.Settings>
        <team20_bp2015.Resources.StandardSettings>
            <setting name="cspOriginX" serializeAs="String">
                <value />
            </setting>
            <setting name="cspOriginY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cspOriginZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cspUpCornerX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cspUpCornerY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cspUpCornerZ" serializeAs="String">
                <value>0</value>
            </setting>
        </team20_bp2015.Resources.StandardSettings>
    </userSettings>
</configuration>